<div class="login-wrapper">
  <div class="profile-button">
    <%= link_to "顧客プロフィール登録", new_appointment_profile_path(@appointment), class: :profile_btn %>
  </div>
  <div>
    <%= render partial: 'profile', collection: @profiles %>
  </div>
</div>