<% unless user_signed_in? %>
<div class="wrapper">
  <div class="content">
    <p class="concept">チームでの営業活動を、もっとスムーズに。</p>
    <p class="sub-concept">アポイントの管理・情報共有を一つにまとめたアプリケーション</p>
    <div class="detail">
      <div class="appointment" id="appointment">管理機能</div>
      <div class="information" id="information">情報共有機能</div>
    </div>
    <div class="hidden" id="remove-hidden">
      <div class="detail-show">
        <p class="detail-top">＜アポイント登録機能＞</p>
        <p class="detail-sub">日程順でアポイントを一覧表示、往訪予定が一目でわかる</p>
        <p class="detail-sub">スケジュールだけでなく、顧客往訪時に必要な情報を一括管理</p>
        <p class="detail-top">＜顧客プロフィール登録機能＞</p>
        <p class="detail-sub">面談者の情報をアポイントに紐付けて保存</p>
        <p class="detail-sub">面談者の役職等、詳細情報も一括管理</p>
      </div>
    </div>
    <div class="hidden" id="remove-hidden2">
      <div class="detail-show">
        <p class="detail-top">＜アポイント閲覧機能＞</p>
        <p class="detail-sub">チームメンバーの営業活動予定を一覧表示</p>
        <p class="detail-sub"></p>
        <p class="detail-top">＜コメント・チャット機能＞</p>
        <p class="detail-sub">アポイント毎に指示・アドバイスをコメント可能</p>
        <p class="detail-sub">チームメンバー間での情報共有を促進するためのチャットルーム有り</p>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="login-wrapper">
    <div class="page-top">アポイント一覧</div>
     <%= form_with(url: search_appointments_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "取引先名で検索", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <div>
      <%= render partial: 'appointment', collection: @appointments %>
    </div>
  </div>
<% end %>