<% unless user_signed_in? %>
<div class="wrapper">
  <div class="content">
    <p class="concept">チームでの営業活動を、もっとスムーズに。</p>
    <p class="sub-concept">アポイントの管理・情報共有を一つにまとめたアプリケーション</p>
    <div class="detail">
      <div class="appointment" id="appointment">管理機能</div>
      <div class="information" id="information">情報共有機能</div>
    </div>
    <div class="hidden" id="remove-hidden">
      <div class="detail-show">
        <p class=detail-top>＜アポイント登録機能＞</p>
        <p class="detail-sub">アポイントの登録・一覧表示・詳細表示が可能</p>
        <p class="detail-sub">チームメンバーの営業活動状況を簡単に把握</p>
        <p class="detail-top">＜顧客プロフィール登録機能＞</p>
        <p class="detail-sub">登録されたアポイントに紐づいた顧客プロフィール登録・一覧表示が可能</p>
        <p class="detail-sub">面談者が営業活動におけるキーマンかどうか簡単に把握</p>
      </div>
    </div>
    <div class="hidden" id="remove-hidden2">
      <div class="detail-show">
        <p class="detail-top">＜コメント機能＞</p>
        <p class="detail-sub">登録されたアポイント毎にコメント投稿が可能</p>
        <p class="detail-sub">コメントを通じて、面談に向けたアドバイス・指示</p>
        <p class="detail-top">＜チャット機能＞</p>
        <p class="detail-sub">チーム全員に対して開かれたチャットルームが利用可能</p>
        <p class="detail-sub">よりスピード感を持ったコミュニケーションを活性化</p>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="login-wrapper">
    <%= form_with(url: search_appointments_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "取引先名で検索", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <div>
      <%= render partial: 'appointment', collection: @appointments %>
    </div>
  </div>
<% end %>