<div class="login-wrapper">
  <div class="list">アポイント一覧</div>
    <%= form_with(url: search_appointments_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "取引先名で検索", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <div>
    <%= render partial: 'appointment', collection: @appointments %>
  </div>
</div>